.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color:
    #f8cb46 ;
  }
  
  .header-logo {
    height: 35px;
    max-width: 94px;
    margin: 0px 24px;
    cursor: pointer;
  }
  .header-mid{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
  
.location-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
    cursor: pointer;
  }
  /* .location_text{
    border: 1px solid red;
  } */
  
.header-search-container {
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    /* background-color: var(--primary-bg); */
    width: 70%;
    /* border: 1px solid var(--border-white); */
  }
 .header-searchBar {
    /* border: 2px solid red; */
    display: flex;
    background-color: white;
    border-radius: 5px;
    flex: 2;
  }
  
  .search-icon {
    font-size: 18px;
    padding: 4px;
   color: gray;
    margin: 0px 12px;
  }
  
  .search-input {
    border: none;
    width: 60%;
    font-size: 14px;
    outline: none;
  }
  .header-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 15px;
  }
  
.header-cart {
    background-color: green;
    color: white;
    width: 110px;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;

}
.header-login{
    cursor: pointer;
}
 .header-get-app{
    cursor: pointer;
}
  