.footer-container{
    width: 80%;
    margin: auto;
    font-size: 13px;
    background-color: 
    #fcfcfc;
}
.footer-container >div >img{
width: 100%;
}
.footer-head-bold{
    font-weight: 500;
    font-size: 14px;
    color: rgb(46, 45, 45);
}
.footer-top .top-sub-para{
    color: rgb(194, 194, 194);
}
.footer-mid{
    /* border: 1px solid black; */
    display: flex;
}
.footer-mid-left{
    display: flex;
    border: 1px solid rgb(218, 215, 215);
    flex: 1;
    padding: 10px;
    border-left: none;
}

.categories-text{
    display: flex;
}
.categories-text .categories-text-left li,
 .categories-text .categories-text-right ul li,
 .footer-mid-right .footer-company  li,
 .footer-mid-right .for-cunsumers li,
 .footer-mid-right .for-partners li
{
    text-decoration: none;
    list-style: none;
    
}

.categories-text .categories-text-left li a,
 .categories-text .categories-text-right ul li a,
 .footer-mid-right .footer-company li a,
 .footer-mid-right .for-cunsumers li a,
 .footer-mid-right .for-partners li a{
    color: rgb(194, 194, 194);
 text-decoration: none;
}
.categories-text .categories-text-left li a:hover,
.categories-text .categories-text-right ul li a:hover,
.footer-mid-right .footer-company li a:hover,
.footer-mid-right .for-cunsumers li a:hover,
.footer-mid-right .for-partners li a:hover{
    text-decoration: underline;
}

.footer-mid-right{
    display: flex;
    border-top: 1px solid rgb(218, 215, 215);;
    border-bottom: 1px solid rgb(218, 215, 215);;
    flex: 1;
    justify-content: space-evenly;
    padding: 10px;
}
.footer-four-flex-box{
    display: flex;
}
.footer-four-flex-box >div{
    display: flex;
}
.footer-four-flex-box >div >div{
padding: 8px;
}
.footer-four-flex-box img{
width: 60px;
}
.footer-four-flex-box .footer-head-bold .top-sub-para{
    color: rgb(194, 194, 194);
}

/* .footer-follow-us{
    display: flex;
    border: 1px solid red;
} */
/* .footer-follow-us > p{
    margin: 1%;
} */
.footer-follow-us-left{
    display: flex;
    gap: 21px;
    /* border: 1px solid red; */
    height: 100px;
    padding: 10px;
    /* flex-basis: 50%; */
}
 
.footer-follow-us-left> div{
height: 45px;
padding-top: 4px;
}
.tweeter-care, .tweeter-eng{
    border: 1px solid grey;
border-radius: 20px;
width: 130px;
margin-top: 1% ;
}
.footer-follow-us 
.facebook-icon img,
 .instagram-icon img, 
 .tweeter-icon img,
 .linkedin-icon img,
 .tweeter-care img,
 .tweeter-eng img{
     width: 30px;
 }
 .footer-follow-us 
.facebook-icon,
 .instagram-icon, 
 .tweeter-icon ,
 .linkedin-icon{
   margin-top: 1% ;
 }
 
 .download-app-text-p{
    margin-top: 2% ; 
 }
 .app-images{
    display: flex;
    gap: 30px;
    margin-top: 1% ;
 }
 .app-images > div > img{
     width: 150px;
 }
 .footer-bottom .brand-available p,
 .footer-bottom .brand-available p > a{
    color: rgb(190, 187, 187);
    text-decoration: none;
 }
 .footer-bottom .brand-available .footer-head-bold{
     color: black;
     font-size: 15px;
 }
 .payment-partner img{
width: 100%;
 }
 .footer-last-text-div > p{
    color: rgb(190, 187, 187);

 }
