
.bank-main{
    display: flex;
    border: 2px solid navy ;
    width: 25%;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;
    
}
.bank-desc{
    flex: 1;
    padding-left: 2%;
    background-color:rgb(6, 6, 103) ;
    color: white;
   
}
.bank-img{
    flex: 1;
    
}
img{
    width: 100%;
}
