
.paan_corner_first_div img{
    width: 95%;
    margin-left: 2%;
}
.download_app img{
    width: 95%;
    margin-left: 2%;
}
.three-div {
    display: flex;
    /* justify-content: space-evenly; */
    /* border: 2px solid red; */
    margin: auto;
    gap: 10px;
    padding: 0px 20px;
    width: 95%;
}

.three-div >div img{
   width: 100%;
   margin: auto;
}
.product-mini-div-top {
    display: flex;
    width: 95%;
    /* border: 2px solid red; */
    margin: auto;
}
.product-mini-div-bottom{
    display: flex;
    width: 95%;
    /* border: 2px solid red; */
    margin: auto;
    padding-left: 10px;
}
.product-mini-div-top >div{
    width: 100%;
}

/* download app section */
hr{
    color: rgb(204, 202, 202);
}

.download-app-container{
    display: flex;
    width: 70%;
    margin: auto;
margin-top: 7%;
}
/* .download-app-image{
border: 1px solid red;

} */
.download-app-img-loader img{
    width: 60%;
}
.input-email input{
    margin-right: 8px;
    padding: 6px ;
    width: 250px;
  
    
}
.download-app-link{
    /* border: 1px solid red; */
    margin-top: 8%;
}
/* .download-app-link .radio-div{
    border: 1px solid red;
} */
.download-app-link .radio-div >span{
    /* border: 1px solid green; */
    padding: 10px;
}
.download-app-link .radio-div >span >label{
    padding: 10px;
}
.input-email .share-link-btn{
    background: #318616;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    padding: 10px 13px;
    text-align: center;
}

.download-app-store{
    /* border: 1px solid red; */
    margin-top: 10%;
}
.download-app-store .app-images{
    /* border: 1px solid green; */
    display: flex;
    width: 55%;
    gap: 5px
    ;
}
/* .download-app-store .app-images >span{
border: 3px solid blue;
} */
.download-app-store .app-images >span >img{
    width: 100%;
}
